<!-- //DOSSIERS -->
{% if DISPLAY_PAGES_ON_MENU %}
<li class="nav-divider"></li>
<li>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-pages">
        <i class="glyphicon glyphicon-folder-open padding-small"></i>
        Dossiers
    </a>
</li>
<li class="panel anti-panel"><ul id="collapse-pages" class="sidebar_submenu collapse {% block collapse_pages %}{% endblock %}">
    {% for p in pages %}
    <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ SITEURL }}/{{ p.url }}" title="{{p.title|striptags|trim}}">
            <i class="glyphicon glyphicon-folder-open padding-small"></i>
            {{ p.menulabel|default(p.title) }}
            {#{ p.title|striptags|trim|truncate(30) }#}
        </a>
    </li>
    {% endfor %}
</ul></li>
{% endif %}
