{% if DISPLAY_RECENT_POSTS_ON_MENU %}
    <li class="nav-divider"></li>
    <li>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-latest">
            <span class="glyphicon glyphicon-th-list padding-small"></span>
            Articles Récents
        </a>
    </li>
    <li class="panel anti-panel"><ul id="collapse-latest" class="sidebar_submenu collapse {% block collapse_latest %}{% endblock %}">
    {% for a in (all_articles if all_articles else articles)[:RECENT_POST_COUNT] %}
        <li class="{% if a == article %}active{% endif %}">
            <a class="hide-overflow" href="{{ SITEURL }}/{{ a.url }}" title="{{ a.title|striptags|trim }}">
                <i class="glyphicon glyphicon-th-list padding-small"></i>
                {{ a.title | striptags | trim }}
            </a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
            <i class="glyphicon glyphicon-arrow-right padding-small"></i>
            Plus d'Articles...
        </a>
    </li>
    </ul></li>
{% else %}
    <li>
        <a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
            <span class="glyphicon glyphicon-th-list padding-small"></span>
            Articles Récents
        </a>
    </li>
{% endif %}
