{% if SOCIAL %}
<li class="nav-divider"></li>
<li>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-social">
        <i class="fa fa-users padding-small"></i>
        Présence sur le net
    </a>
</li>
<li class="panel anti-panel"><ul id="collapse-social" class="sidebar_submenu collapse {% block collapse_social %}{% endblock %}">
    {% for name, link in SOCIAL %}
    <li>
        <a target="_blank" href="{{ link }}" title="{{name|striptags|trim}}">
            <i class="{{lib.get_icon_attributes(name|striptags|trim)}} padding-small"></i>
            {{ name }}
        </a>
    </li>
    {% endfor %}
</ul></li>
{% endif %}
