{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h2>
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    <small>
                        {% include "include/article_info.html" %}
                    </small>
                </h2>
                <div class="summary">
                    {{ article.summary }}
                </div>
            </article>
            {% if not loop.last %}
            <hr/>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% include 'include/pagination.html' %}
    </div>
</div>
{% endblock %}
