{% if DISQUS_SITENAME %}
    {% if DISQUS_LOAD_LATER %}
    <div id="show-comments" class="span7 text-center hidden-print">
        <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.date|strftime('%Y-%m-') ~ article.slug if DISQUS_ID_PREFIX_SLUG else article.slug }}" class="btn btn-default">Show Comments</a>
    </div>
    {% endif %}
    <section id="comments" class=" hidden-print comments {% if DISQUS_LOAD_LATER %}hidden{% endif %}">
        <hr/>
        <h2>Commentaires</h2>
        <div id="disqus_thread"></div>
        <noscript>Merci d'activer Javascript pour voir <a href="https://disqus.com/?ref_noscript">les commentaires.
            Disqus.</a></noscript>
        <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </section>
{% endif %}
