{% import 'macros.html' as lib %}

{% if RECENT_POST_COUNT is not defined %}
    {% set RECENT_POST_COUNT = 5 %}
{% endif %}

{% if SIDEBAR_ORDER is not defined %}
    {% set RECENT_POST_COUNT = ["search", "menus", "dossiers", "categories", "tags", "recents", "share", "social"] %}
{% endif %}

{% if article or page %}
    {% set share_url = SITEURL + '/' + (article.url if article else page.url) %}
{% else %}
    {% set share_url = SITEURL %}
{% endif %}

<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='dns-prefetch' href='//www.google.com' />
	<link rel='dns-prefetch' href='//fonts.googleapis.com' />

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    {% block meta %}
	    <meta name="author" content="{{ AUTHOR }}" />
        <meta name="description" content="{{ SITENAME }} - {{ SITESUBTITLE|escape }} Par {{ AUTHOR }}" />
        <meta name="keywords" content="{{ SITE_KEYWORDS }}" />
    {% endblock %}
    
	{% block canonical_rel %}
	<link rel="canonical" href="{{ SITEURL }}" />
	{% endblock %}
	
    {% if USE_OPEN_GRAPH %}
    	{% include "include/seo.html" %}
    {% endif %}

	{% include "include/prev-next.html" %}

    {% if BOOTSTRAP_THEME %}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/{{ BOOTSWATCH_VERSION|default('3.3.7')}}/{{BOOTSTRAP_THEME}}/bootstrap.min.css" />
    {% else %}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    {% endif %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/{{FONT_AWESOME_VERSION|default('4.7.0')}}/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//afeld.github.io/emoji-css/emoji.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{HIGHLIGHT_VERSION|default('9.9.0')}}/styles/{{HIGHLIGHT_THEME|default('dracula')}}.min.css" />
    
    {% if TYPOGRIFY %}
        <link href="{{ SITEURL }}/theme/css/typogrify.css" rel="stylesheet" />
    {% endif %}
    <link href="{{ SITEURL }}/theme/css/pelican-twitchy.min.css" rel="stylesheet" />
    
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400" />
  	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Tipue-Search/5.0.0/tipuesearch.css" />
    
	{% block head_extras %}
	{% endblock head_extras %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	{% if CUSTOM_CSS %}
		<link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet" />
	{% endif %}
    
    {% include "include/feed.html" %}
    
</head>
<body {#data-spy="scroll" data-target="#scrollspy"#} itemscope itemtype="http://schema.org/WebPage">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper-small" class="twitchy-background hidden-print">
            <ul id="accordion-small" class="sidebar-nav sidebar-nav-small">
                {{ lib.nav_small_li(SITEURL, SITENAME, '<span class="glyphicon glyphicon-home"></span>') }}
                <li class="nav-divider"></li>
                {{ lib.nav_small_li(SITEURL + '/' + ARCHIVES_URL | default('archives.html'), 'Articles Récents', '<span class="glyphicon glyphicon-th-list"></span>') }}
                
                {% if SHARE %}
                <li class="nav-divider"></li>
                <li id="share-small">
                    <a data-toggle="collapse" data-parent="#accordion-small" href="#collapse-share-small" title="Share" class="collapsed">
                        <i class="fa fa-share-alt padding-small"></i>
                    </a>
                </li>
                <li class="panel anti-panel"><ul id="collapse-share-small" class="collapse {% block collapse_share_small %}{% endblock %}">
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{share_url}}" title="Share via Facebook" target="popup">
                            <i class="fa fa-facebook-square padding-small"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url={{share_url}}" title="Share via Google+" target="popup">
                            <i class="fa fa-google-plus padding-small"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" title="Share via Twitter" target="popup">
                            <i class="fa fa-twitter-square padding-small"></i>
                        </a>
                    </li>
                </ul></li>
                {% endif %}
                {% if SOCIAL %}
                <li class="nav-divider"></li>
                <li>
                    <a data-toggle="collapse" data-parent="#accordion-small" href="#collapse-social-small" title="Social" class="collapsed">
                        <i class="fa fa-users padding-small"></i>
                    </a>
                </li>
                <li class="panel anti-panel"><ul id="collapse-social-small" class="collapse {% block collapse_social_small %}{% endblock %}">
                {% for name, link in SOCIAL|sort(attribute='0') %}
                    <li>
                        <a href="{{ link }}" title="{{name}}"><i class="{{lib.get_icon_attributes(name|striptags|trim)}} padding-small"></i></a>
                    </li>
                {% endfor %}
                </ul></li>
                {% endif %}
                <li class="nav-divider"></li>
                {{ lib.nav_small_li('#', 'Retour au début', '<span class="fa fa-arrow-up"></span>') }}
            </ul>
        </div>
        <div id="sidebar-wrapper" class="twitchy-background hidden-print">
            <ul id="accordion" class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ SITEURL }}/">
                        {% if SITELOGO %}<img src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}" alt="Sitelogo"/> {% endif %}
                        {% if not HIDE_SITENAME %}
                            <span class="glyphicon glyphicon-home padding-small"></span>
                            {{ SITENAME }}
                        {% endif %}
                    </a>
                </li>
                
                {% for option in SIDEBAR_ORDER %}
                {% include "sidebar/" + option + ".html" %}
                {% endfor %}
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- open/close sidebar -->
        <a href="#menu-toggle" class="btn btn-default hidden-print" id="menu-toggle">
            <span id="right-arrow" class="glyphicon glyphicon-chevron-right"  title="expand sidebar"></span>
            <span id="left-arrow" class="glyphicon glyphicon-chevron-left" title="minimize sidebar"></span>
        </a>
       <!-- /open/close sidebar -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block precontent scoped %}
                {% endblock %}
                {% block content scoped %}
                {% endblock %}
                {% include "include/footer.html" %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/{{JQUERY_VERSION|default('3.1.1')}}/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ BOOTSTRAP_VERSION|default('3.3.7')}}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{HIGHLIGHT_VERSION|default('9.9.0')}}/highlight.min.js"></script>
	
	{% block addthis %}
    {% include 'include/addthis-js.html' %}
	{% endblock addthis %}

    <script src="{{ SITEURL }}/theme/js/pelican_twitchy.js"></script>
    {% include 'include/cookieconsent.html' %}
    {% include 'include/ga.html' %}
    
    {% block scripts %}
    {% endblock %}
</body>
</html>
