
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
        <meta name="description" content="{{ SITEDESCRIPTION }}">
    {% endblock %}

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    {% if BOOTSTRAP_THEME %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.{{ BOOTSTRAP_THEME }}.min.css" type="text/css"/>
    {% else %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css"/>
    {% endif %}
    <link href="{{ SITEURL }}/theme/css/font-awesome.min.css" rel="stylesheet">
    
    <link href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet">
    
    {% if TYPOGRIFY %}
        <link href="{{ SITEURL }}/theme/css/typogrify.css" rel="stylesheet">
    {% endif %}
    <link href="/theme/css/pelican-twitchy.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Feeds -->
    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed"/>
    {% endif %}
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper-small">
            <ul class="sidebar-nav sidebar-nav-small">
                <li class="sidebar-brand">
                    <a href="{{ SITEURL }}/">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="sidebar-wrapper">
            <ul id="accordion" class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ SITEURL }}/">
                        {{ SITENAME }}
                    </a>
                </li>
                {% for title, link in MENUITEMS %}
                <li>
                    <a href="{{ link }}">
                        {{ title }}
                    </a>
                </li>
                {% if loop.last %}
                <li class="divider"></li>
                {% endif %}
                {% endfor %}
                
                {% if DISPLAY_PAGES_ON_MENU %}
                {% block collapse_pages %}
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-pages">
                        Pages
                    </a>
                </li>
                <div id="collapse-pages" class="sidebar_submenu collapse"><!-- should not start collapsed if active -->
                    <ul>
                        {% for p in PAGES %}
                        <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ p.url }}">
                                {{ p.menulabel|default(p.title) }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endblock %}
                {% endif %}
                
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% block collapse_categories %}
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-categories">
                        Categories
                    </a>
                </li>
                <div id="collapse-categories" class="sidebar_submenu collapse"><!-- should not start collapsed if active -->
                    <ul>
                        {% for cat, null in categories %}
                        <li {% if cat == category %}class="active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ cat.url }}">
                                {{ cat | capitalize }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endblock %}
                {% endif %}
            </ul>
        
            <!-- open/close sidebar -->
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                <span id="right-arrow" class="glyphicon glyphicon-chevron-right"></span>
                <span id="left-arrow" class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
            {% include "include/footer.html" %}
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery Version 1.11.0 -->
    <script src="/theme/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/theme/js/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
