{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block collapse_latest %}in{% endblock %}

{% block precontent %}
<section id="content" class="body">
    <div class="row">
        <div class="col-lg-9">
			<div class="media" id="index-promo">
				<div class="media-left">
					<a href="{{SITEURL}}" title="Accueil">
						<img class="media-object" {{AUTHOR_IMAGE_ATTRS}} src="{{SITEURL}}/{{AUTHOR_IMAGE}}" alt="{{AUTHOR}}">
					</a>
				</div>
				<div class="media-body">
					<h1 class="media-heading">{{ SITENAME }}
                        <p class="subtitle"><small>{{ SITESUBTITLE }}</small></p>
                        {% if SITESUBTITLE2 is defined %}
                        <p class="subtitle2"><small>{{ SITESUBTITLE2 }}</small></p>
                        {% endif %}
					</h1>
				</div>
			</div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
    {% if articles %}
    	<p>&nbsp;</p>
    	{% include "include/pagination.html" %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article class="article-list">
				<div class="media">
				  <div class="media-left media-top">
				    <a href="{{ SITEURL }}/{{ article.url }}">
				      <img class="media-object thumbnail" src="{{SITEURL}}/{{THUMBNAIL_DIR}}/category/{{article.category.slug}}_medium.jpg" alt="{{ article.title|striptags|escape }}" />
				    </a>
				  </div>
				  <div class="media-body">
				    <h3 class="media-heading">
				    	<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
				    	{% include "include/article_info.html" %}
				    </h3>
				    {% if DISPLAY_SUMMARY_ON_INDEX|default(True) %}
                	<div class="summary">
                    	{{ article.summary|striptags|escape }}
                	</div>
                	{% endif %}
				  </div>
				</div>            
            </article>
        {% endfor %}
        <div class="btn-more text-right">
            <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
                Voir tous les articles ...
            </a>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

