{% extends "include/article_list.html" %}
{% block title %}Welcome - {{ SITENAME }}{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}">
{% endblock %}

{% block collapse_latest %}in{% endblock %}

{% block precontent %}
<section id="content" class="body">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">  
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Welcome - {{ SITENAME }}</h1>
                        <p>{{ SITESUBTITLE }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Latest Articles:</h2>
        </div>
    </div>
</section>
{% endblock %}

